.icons-header {
  background-color: rgb(242, 123, 5);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.link-icon {
  display: flex;
}

.search-btn {
  background-color: transparent;
  border-style: none;
}

.category-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
